:host {
    display: block;
}

.card-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 450px;
    max-height: 450px;
}

.image-container {
    width: 100%;
    height: 200px;
    min-height: 200px;
    max-height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 200px;
    overflow: hidden;
}

.title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 56px;
    max-height: 56px;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 48px;
    max-height: 48px;
}