<header class="flex flex-col md:flex-row flex-wrap justify-between items-center gap-6 mb-8">
    <div class="w-full md:flex-1 md:min-w-[300px]">
        <label class="flex flex-col min-w-40 h-14 w-full md:max-w-md">
            <div
                class="flex w-full flex-1 items-stretch rounded-lg bg-surface-light dark:bg-surface-dark border border-border-light dark:border-border-dark shadow-sm">
                <div
                    class="text-text-light-secondary dark:text-text-dark-secondary flex items-center justify-center pl-4">
                    <span class="material-symbols-outlined">search</span>
                </div>
                <input [(ngModel)]="search" placeholder="Find a specific dish..."
                    class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-text-light-primary dark:text-text-dark-primary focus:outline-0 focus:ring-2 focus:ring-primary/50 border-none bg-transparent h-full placeholder:text-text-light-secondary dark:placeholder:text-text-dark-secondary px-4 pl-2 text-base font-normal" />
            </div>
        </label>
    </div>
</header>