.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.animate-in {
    animation: fadeIn 0.2s ease-out, zoomIn 0.2s ease-out;
}

.fade-in {
    animation: fadeIn 0.2s ease-out;
}

.zoom-in-95 {
    animation: zoomIn 0.2s ease-out;
}

.duration-200 {
    animation-duration: 0.2s;
}